[Desktop Entry]
Name=Nootka
GenericName=to play scores
GenericName[pl]=żeby grać z nut
GenericName[cs]=pro hru z not
GenericName[fr]=Pour jouer des gammes
GenericName[ru]=чтобы играть с нот
Type=Application
Comment=Application for learning musical score notation 
Comment[pl]=Program do nauki nut
Comment[cs]=Program pro vyučování notového zápisu hudby
Comment[fr]=Application pour apprendre la notation musicale sur partitions
Comment[ru]=Программа для обучения нотной грамоте
Exec=nootka %f
Icon=nootka
Terminal=false
MimeType=application/x-nootka-noo;application/x-nootka-nel;
Categories=Education;
