[Desktop Entry]
Version=1.0
Name=Nootka
Type=Application
Comment=Application for learning musical score notation 
Comment[pl]=Program do nauki nut
Exec=nootka
Icon=nootka
Terminal=false
MimeType=application/x-nootka-noo;application/x-nootka-nel
Categories=Education

