#menu {
left :5px;
/* line-height :6px; */
position :absolute;
text-align :center;
width :12%;
top :200px;
}

#main {
left: 13%;
position :absolute;
text-align :center;
width :80%;
}

#head {
text-align :center;
}