#menu {
left :5px;
/* line-height :6px; */
position :absolute;
text-align :center;
width :20%;
top :150px;
}

#main {
left: 20%;
position :absolute;
text-align :center;
width :75%;
}

#head {
text-align :center;
font-size :300%;
}

#news {
text-align :center;
height :100px;
}